<% provide(:title, 'Url shortener') %>

 <div class="sign-in">
          <% if signed_in? %>
              Hello <%= @user.name %>
              <a class="btn__style" href="<%= sign_out_url() %>" data-method="delete">Sign out</a>
          <% else %>
              <a class="btn__style" href="<%= sign_in_link %>">Sign in</a>
          <% end %>
        </div>
<div class="container">
      <div class="container">
        <div class="wrap-input-shorten">
          <input class="input-xxlarge input__shorten" id="url" type="text" name="url" placeholder="Type UTL here" rel="tooltip" value="http://">
          <input class="btn__shorten btn__style" id="add_url" type="submit" value="Shorten!"/>
        </div>
      </div>

        <div class="<% if @user_shorted_urls.blank? %> table__hide <% else %> table__visible <% end %>">
            <h4>Yours shorted links:</h4>
            <table class="table table-bordered">
              <thead>
                  <tr>
                    <th class="td__num">№</th>
                    <th class="td__short-url">Shorted URL</th>
                    <th class="td__url">URL</th>
                    <th class="td__follows">Follows</th>
                    <th class="td__delete"> </th>
                  </tr>
              </thead>
              <tbody>
              <% @user_shorted_urls.each_with_index do |shorted_url, index| %>
                  <tr>
                    <td class="td__num"><%= index + 1 %></td>
                    <td class="td__short-url"><%= link_to root_url() + shorted_url.name, root_url() + shorted_url.name %></td>
                    <td class="td__url"><%= shorted_url.url %></td>
                    <td class="td__follows"><%= shorted_url.follows %></td>
                    <td class="td__delete"><a class="btn__style" href="<%= shorten_url + '?id=' + shorted_url.id.to_s %>" data-method="delete">Delete</a></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
        </div>
           <div class="<% if @user_shorted_urls.blank? %> wrap-input-expand__hide <% else %> wrap-input-expand__visible <% end %>">
          <input class="input-xlarge input__expand" id="url_to_expand" type="text" name="url" placeholder="Type shorted url here" rel="tooltip"><input class="btn__style btn__expand" id="expand_url" type="submit" value="Expand"/>
        </div>
</div>

<div class="modal hide" id="expand_succes">
  <div>
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <div>
          <h4>Shorted url:</h4>
          <input type="text" class="input-xlarge" id="shorted_url">
      </div>
      <div>
          <h4>Expanded url:</h4>
          <input type="text" class="input-xlarge" id="expanded_url">
      </div>
      <div>
          <h4>Follows:</h4>
          <input type="text" class="input-xlarge" id="follows">
      </div>
  </div>
</div>

<script type="text/javascript">

  $(function() {
      $('#add_url').click(function() {
          var url = '<%= shorten_url() %>' + '?url=' + encodeURIComponent($('#url').val())
          $.ajax({
              url: url,
              success: function(data, textStatus, jqXHR ) {
                  window.location.reload()
              },
              error: function(data, textStatus, jqXHR ) {
                  alert(textStatus)
              }
          })
      })
      $('#expand_url').click(function() {
          var url = '<%= expand_url() %>' + '?url=' + $('#url_to_expand').val()
          $.ajax({
              url: url,
              success: function(data, textStatus, jqXHR ) {
                  $('#shorted_url').val(data.shorted_url)
                  $('#expanded_url').val(data.expanded_url)
                  $('#follows').val(data.follows)
                  $('#expand_succes').modal()
              },
              error: function(data, textStatus, jqXHR ) {
                  alert('Not found')
              }
          })
      })
  })
</script>