<% provide(:title, 'Url shortener') %>

<div class="container">
      <div class="container">
        <div class="input-append pull-right" style="height: 30px; padding-top: 10px">
          <input class="input-xlarge" id="url" type="text" name="url" placeholder="Type UTL here" rel="tooltip">
          <input class="btn" id="add_url" type="submit" value="Make it shorter" style="height: 100%"/>
        </div>
      </div>

      <div>
        <% if signed_in? %>
            Yours shorted links:
            <table class="table table-bordered">
              <thead>
                  <tr>
                    <th>№</th>
                    <th>Shorted URL</th>
                    <th>URL</th>
                    <th>Follows</th>
                    <th> </th>
                  </tr>
              </thead>
              <tbody>
              <% @user_shorted_urls.each_with_index do |shorted_url, index| %>
                  <tr>
                    <td><%= index + 1 %></td>
                    <td><%= link_to root_url() + shorted_url.name, root_url() + shorted_url.name %></td>
                    <td><%= shorted_url.url %></td>
                    <td><%= shorted_url.follows %></td>
                    <td><a class="btn" href="<%= shorten_url + '?id=' + shorted_url.id.to_s %>" data-method="delete">Delete</a></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
        <% end %>
      </div>
</div>

<script type="text/javascript">

  $(function() {
    $('#add_url').click(function() {
        var url = '<%= shorten_url() %>' + '?url=' + encodeURIComponent($('#url').val())
        $.ajax({
            url: url,
            success: function(data, textStatus, jqXHR ) {
                alert(data.url)
            },
            error: function(data, textStatus, jqXHR ) {
                alert(textStatus)
            }
        })
    })
  })
</script>