<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="navbar-inner">
      <div class="container">
          <h2 class="main-title">URL Shortener</h2>
       <img class="scissor" src="/scissor.png">
      </div>
    </div>

    <div class="row-fluid">
      <%= yield %>
    </div>

</body>
</html>
